<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <title>Feddit</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary shadow sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Feddit</a>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            </form>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link">Sign in</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-primary">Log in</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="form-container float-left col-2 rounded position-absolute mt-3">
        <form class="container-fluid">
            <div class="input-group">
                <span class="input-group-text shadow" id="basic-addon1">#</span>
                <input type="text" class="form-control shadow" placeholder="Hashtag" aria-label="Username" aria-describedby="basic-addon1">
            </div>
          </form>
    </div>

    {%for post in posts%}
        <div class="container rounded mt-3 col-6 shadow">
            <div class="container float-left pt-2">
                <p class="text-secondary"><a href="#" class="link-secondary">{{post.user.nickname}}</a> {{post.likes}}</p>
            </div>
            <div class="container pb-3">
            <h2>{{post.title}}</h2>
                <img src={{post.image}} class="rounded img-fluid">
                <p>{{post.text}}</p>
            </div>
        </div>
    {%endfor%}
</body>
</html>